<section class="offer">
  <div class="container offer__container">
    <div class="offer__item">
      <img class="offer__item-img" src="img/offer/image-4.png" alt="квартиры с гардеробными">
      <div class="offer__item-text">
        <p><a class="title offer__title" href="#">Просторные квартиры с гардеробными</a>→</p>
        <p class="offer__descr">Жилой комплекс «Новый город» расположен в одном из самых динамично развивающихся районов
          Обнинска - Заовражье. Несмотря на близость к центру (5 минут езды до ТРК «Триумф Плаза»), место здесь тихое и
          спокойное.
        <p class="offer__descr">Архитектура и дизайн комплекса — яркий пример удачного сочетания классических традиций
          строительства с современными материалами и технологиями. Территория микрорайона разделена на ряд
          благоустроенных зон с детскими игровыми площадками, спортивными тренажерами и прогулочными дорожками</p>
      </div>
    </div>
  </div>
</section>
