<section class="slider">
  <div class="container slider__container">
    <div class="slider__content">
        <div class="swiper promo">
          <div class="slider__header">
            <h2 class="slider__title">Предложения и акции</h2>
            <div class="promo__buttons">
              <div class="promo__button-prev">
                <button class="btn-reset swiper-button-prev">
                  <svg>
                    <use xlink:href="../../img/sprite.svg#prev"></use>
                  </svg>
                </button>
              </div>
              <div class="promo__button-next">
                <button class="btn-reset swiper-button-next">
                  <svg>
                    <use xlink:href="../../img/sprite.svg#next"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-wrapper promo__wrapper">
              <div class="swiper-slide">
                <div class="promo-slide__media">
                  <img src="img/swiper/image-1.jpg" alt="Карта привилегий">
                </div>
                <span class="promo-slide__text">Карта привилегий «Новый город»</span>
              </div>
              <div class="swiper-slide">
                <div class="promo-slide__media">
                  <img src="img/swiper/image-2.jpg" alt="Бесплатное такси">
                </div>
                <span class="promo-slide__text">Бесплатное такси в офис продаж Нового города</span>
              </div>
              <div class="swiper-slide">
                <div class="promo-slide__media">
                  <img src="img/swiper/image-3.jpg" alt="Квартиры с отделкой">
                </div>
                <span class="promo-slide__text">Квартиры с отделкой от застройщика</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
